[submodule ".themes/books"]
	path = .themes/books
	url = git://github.com/octopress-themes/books.git
[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
[submodule ".themes/octopress-bootstrap"]
	path = .themes/octopress-bootstrap
	url = https://github.com/barmstrong/octopress-bootstrap.git
